<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('./partials/header.html') %>

    <div id="content">
        <h2>About us:</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipi sicing elit. Minus, ea? Magnam explicabo, officiis quo dolore eum assumenda, dicta soluta quaerat quis unde harum provident quidem enim. Pariatur sed eos quasi?</p>
        <h2>Mission:</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, ea? Magnam explicabo, officiis quo dolore eum assumenda, dicta soluta quaerat quis unde harum provident quidem enim. Pariatur sed eos quasi?</p>
    </div> 
    <%- include('./partials/footer.html') %>
</body>
</html>